*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', serif;
  color:#707274;
}
body{
  /*background: #fcfcfc;*/
}
h1{
  margin: 0 14%;
  color: #000;
}
h2,h3{
  color: #000;
  margin: 14px 0;
  font-weight: normal;
}
p{
  margin-bottom: 14px;
}
.italic{
  font-style: italic;
}
.bold{
  font-weight: bold;
}
.orange{
  color:#ea6616;
}
.white{
  color: #fff;
}
.center{
  text-align: center;
}
select,label, input{
  display: block;
  margin-bottom: 21px;
}
input{
  font-size: 16px;
  border-style:none;
  border-bottom: 1px solid #707274;
  width: 90%;
}
input[type="checkbox"]{
  display: inline;
  width: auto;
  margin-bottom: 5px;
}
input[type="submit"]{
  width: auto;
  background: #ea6616;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  border-bottom: none;
  margin: 0 auto;
}
textarea:focus, input:focus{
  outline: none;
}
textarea{
  font-size: 16px;
  width: 100%;
  height: 170px;
  padding: 3px;
}
section{

}
article{
  width: 50%;
}
footer{
  background: #3e3f40;
  height: 200px;
}
img{
  width: 35px;
  height: 35px;
  padding: 10px;
}
.contenedor{
  margin: 1% 14%;
  display: inline-block;
  width: 72%;
}
.left{
  float: left;
}
.right{
  float: right;
}
.asterisco{
  color: red;
  font-size: 28px;
}

.footer-content{
  margin: 0 14%;
  padding: 4% 0;
}
.facebook{
  width: auto;
  height: 35px;
}
.youtube{
  width: auto;
  height: 35px;
}
